<!--table class="table table-hover">-->
<body style="background-image: url('https://cdn.pixabay.com/photo/2021/01/11/19/16/briquette-5909427_960_720.jpg');background-repeat:no-repeat;background-size: cover">

<table class="table table-light">
  <thead class="table-dark">
    <tr>

      <th scope="col">Category</th>
      <th scope="col">Recode_type</th>
      <th scope="col">Amount</th>
      <th scope="col">Account ID</th>
      <th scope="col">date time</th>
      <th scope="col">Note</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @recode.category_id %></td>
      <td><%= @recode.recode_type %></td>
      <td><%= @recode.amount %></td>
      <td><%= @recode.account_id %></td>
      <td><%= @recode.date_time&.strftime('%B %e at %l:%M %p')%></td>
      <td><%= @recode.note %></td>

      <!--      here we define account.id and bacause this provide to edit and delete -->
      <td>
        <%= link_to "Edit", edit_recode_path(@recode.id), class: "btn btn-primary" %>
        <%= link_to "Delete", recode_path(@recode.id), class: "btn btn-danger" ,data: {
        turbo_method: :delete, turbo_confirm: "Are you sure?"}, :method => :delete %>
      </td>
    </tr>
  </tbody>
</table>
</body>