
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <i class="bi bi-wallet"></i>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
          <%= link_to 'Dashboard', new_account_path , class: "nav-link active" %>
          </li>

          <li class="nav-item">
            <%= link_to "Account" , accounts_path , class: "nav-link"%>
           <!-- articles_about_path ya vo path bata raha jis per jana ha is ny -->
          </li>

          <li class="nav-item">
            <%= link_to "Records" , new_account_path , class: "nav-link"%>
          </li>


          <li class="nav-item">
            <%= link_to "Analytics" , new_account_path , class: "nav-link"%>
          </li>

          <li class="nav-item">
            <%= link_to "import" , accounts_url , class: "nav-link"%>
          </li>

          <div class="d-flex">
          <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: "btn btn-outline-success" %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</nav>





