<h1>New Category</h1>

<% @category.errors.full_messages_for(:name).each do |message| %>
  <div><%= message %></div>
<% end %>

<%= form_for @category do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name,placeholder: "Enter a Name "%>
   </div>

  <div>
    <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <button type="submit" class="btn btn-primary"><%= type %> Update Category</button>
<% end %>
