
<h1>acount_form</h1>

<% @account.errors.full_messages_for(:name).each do |message| %>
  <div><%= message %></div>
<% end %>


<%= form_for  @account do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: "Enter your Name" %>
  </div>

  <div>
    <%= form.label :account_type %><br>
    <%= form.text_field :account_type, placeholder: "Account Type" %>
  </div>

  <div>
    <%= form.label :starting_balance %><br>
    <%= form.text_field :amount, placeholder: "Amount" %>
  </div>

  <div>
    <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <button type="submit" class="btn btn-primary">  Create Account </button>
<% end %>
