
<h1>acount</h1>
<%= form_for  @account do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @account.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>

  </div>

  <div>
    <%= form.label :account_type %><br>
    <%= form.text_field :account_type %>
    <% @account.errors.full_messages_for(:account_type).each do |message| %>
      <div><%= message %></div>
    <% end %>

  </div>

  <div>
    <%= form.label :amount %><br>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :currency %><br>
    <%= form.text_field :currency %>
  </div>

  <div class="field form-group">
      <%= form.number_field :user_id, id: :account_user_id,value:current_user.id, type: :hidden %>
<!--    number_field add number counting -->
  </div>

  <div type="button" class="btn btn-success">
    <%= form.submit %>
  </div>
<% end %>
