
<h1>acount _form</h1>
<%= form_for  @account do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: "Name" %>
    <% @account.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>

  </div>

  <div>
    <%= form.label :account_type %><br>
    <%= form.text_field :account_type, placeholder: "Account Type" %>
    <% @account.errors.full_messages_for(:accoun_type).each do |message| %>
      <div><%= message %></div>
    <% end %>

  </div>

  <div>
    <%= form.label :starting_balance %><br>
    <%= form.text_field :amount, placeholder: "Amount" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :account_user_id,value:current_user.id, type: :hidden %>
    <!--    number_field add number counting -->
  </div>

  <button type="submit" class="btn btn-primary"><%= type %>Update Account </button>

<% end %>
