<h3>Account details</h3>
<table class="table table-hover table-success">
  <thead class="table-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Account Type</th>
    <th scope="col">Amount</th>
    <th scope="col">currency</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @account.name%></td>
    <td><%= @account.account_type%></td>
    <td><%= @account.amount%></td>
    <td><%= @account.currency%></td>
    <td><%= link_to "Edit", edit_account_path(@account.id),  class: "btn btn-primary" %>
<!--      patch for a specific line add, DELETE but there path is account-->
      <%= link_to "Delete", account_path(@account.id),class: "btn btn-danger",data: {
          turbo_method: :delete, turbo_confirm: "Are you sure?"}, :method => :delete %>
    </td>
  </tr>
  </tbody>
</table>

<h3>Balance details</h3>

<table class="table table-success">
    <thead class="table-dark">
      <tr>
        <th scope="col">Account balance</th>
        <th scope="col">starting_balacne</th>
        <th scope="col">income</th>
        <th scope="col">expence</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @account_balance%></td>
        <td><%= @account.amount%></td>
        <td><%= @credit_amount%></td>
        <td><%= @debit_amount%></td>
      </tr>
    </tbody>
</table>
<br>
<h3>Add Single Recode</h3>
<%= link_to "+ Add Recode", new_recode_path, class: "btn btn-primary" %>

<h3>Import Recode</h3>

<%= form_tag import_accounts_path, multipart: true do %>
<%= file_field_tag :file  %>
<%= hidden_field_tag :account_id,@account.id %><br><br>
  <button type="submit" class="btn btn-primary"> +Import </button>
<% end %>

<br><br>
<h3>Account Recodes</h3>

<table class="table table-success">
  <thead class="table-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Account</th>
    <th scope="col">Recode_type</th>
    <th scope="col">Amount</th>
    <th scope="col">Date Time</th>
    <th scope="col">Category</th>
    <th scope="col">Note</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <% unless  @recodes.blank? %>
  <% @recodes.each do |recode| %>
    <div class="field">
      <!--    <#= link_to account.name, account %>-->
      <!--    #how to link href  -->
      <tbody>
      <tr>
        <td scope="row"><%= recode.id  %></td>
        <td><%= recode.account.name %></td>
        <td><%= recode.recode_type %></td>
        <td><%= recode.amount %></td>
        <td><%= recode.date_time&.strftime('%B %e at %l:%M %p')%></td>
        <td><%= recode.category_id   %></td>
        <td><%= recode.note %></td>

        <!--      here we define account.id and bacause this provide to edit and delete -->
        <td>
          <%= link_to "Show", recode_path(recode.id), class: "btn btn-success" %>
          <%= link_to "Edit", edit_recode_path(recode.id), class: "btn btn-primary" %>
          <%= link_to "Delete", recode_path(recode.id), class: "btn btn-danger" ,data: {
              turbo_method: :delete, turbo_confirm: "Are you sure?"}, :method => :delete %>
        </td>
      </tr>
      </tbody>
    </div>
  <% end %>
  <% end %>
  </table>



