
<table class="table table-success">
  <thead class="table-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Amount</th>
    <th scope="col">currency</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @accounts.name%></td>
    <td><%= @accounts.account_type%></td>
    <td><%= @accounts.amount%></td>
    <td><%= @accounts.currency%></td>
    <td><%= link_to "Edit", edit_account_path(@accounts.id),  class: "btn btn-primary" %>
<!--      patch for a specific line add, DELETE but there path is account-->
      <%= link_to "Delete", account_path(@accounts.id),class: "btn btn-danger",data: {
          turbo_method: :delete, turbo_confirm: "Are you sure?"}, :method => :delete %>
    </td>
  </tr>
  </tbody>
</table>

